 <div class="featured_container">
   <div class="featured_1">
     {{ fields.field_image.content }}
     <h4 class="text__title">{{ fields.title.content }}</h4>
     <h4 class="text__teaser__body">{{ fields.field_body.content }}</h4>
   </div>
   <div class="featured_2">
     <div class="featured_2_top">
      {{ fields.field_image.content }}
       <h6>{{ fields.title.content }}</h6>
    <h6>{{ fields.field_body.content }}</h6>
     </div>
     <div class="featured_2_bot">
       <div class="featured_2_bot_left">
        {{ fields.field_image.content }}
         <h6>{{ fields.title.content }}</h6>
       </div>
       <div class="featured_2_bot_right">
         {{ fields.field_image.content }}
         <h6>{{ fields.title.content }}</h6>
       </div>
     </div>
   </div>
 </div>
