<div class="main__content__teaser">
  <div class="main__content__teaser__image">{{ fields.field_image.content }}</div>
  <div class="main__content__text">
  <p class="main__content__teaser__text">{{ fields.title.content }}</p>
  <p class="main__content__created__on">{{ fields.created.content }} By {{ fields.field_name.content }}</p>
  <div class="main__content__body">
  {{ fields.field_body.content }}
  </div>
  </div>
</div>
